@(categories: List[Category])

<!DOCTYPE html>
<html>
<head>

    <style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#99ff99}

{
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}




</style>
</head>
<body>
<img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Stamps%2C_Arkansas_%28c._1904%29.jpg"/></a>
<h1>Road Trip Arkansas</h1>

<table>
    <tr>
        <th>Category</th>
        </tr>


    @for(category <- categories) {
    <tr>
        <td>@category.categoryName</td>

    </tr>
    }
</table>


<div id="googleMap" style="width:50%;height:500px;"></div>

<script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(34.746483,-92.289597),
    zoom:7,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiWG4CcoJOsHChN_5XImm1ByC3Va5view&callback=myMap"></script>


</body>
</html>