@(categories: List[Category])

<!DOCTYPE html>
<html>
<head>

    <style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#99ff99}

{
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


</style>
</head>
<body>
<h1>List of Categories</h1>

<table>
    <tr>
        <th>Edit</th>
        <th>Category</th>
        <th>Category Name</th>
        <th>Description</th>
    </tr>


    @for(category <- categories) {
    <tr>
        <td><a href="@routes.CategoriesController.editCategory(category.categoryId)">Edit</a></td>
        <td>@category.categoryName</td>
        <td><img src=@{routes.CategoriesController.getPicture(category.categoryId)}></td>
    </tr>
    }
</table>

</body>
</html>